.chat--section {
  background: linear-gradient(to right, #131420, #181329, #1a1223);
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-grow: 10;
  justify-content: space-between;
  /* align-items: center; */
}

.default--message {
  color: rgba(99, 103, 111, 0.308);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat--header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #2a1f38;
  margin: 0 20px;
}

.back--button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.selected--friend {
  color: white;
}

.chats {
  width: 95.5%;
  height: 75%;
  display: flex;
  flex-direction: column;
  margin-left: 1ex;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.chats::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

.send-message {
  display: flex;
  align-items: center;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
}

.message--input {
  padding: 1em;
  flex-grow: 1;
  background-color: transparent;
  outline: none;
  border: 2px solid #292633;
  border-radius: 10px;
  color: white;
  font-size: medium;
}

.message {
  display: flex;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 3000px;
  align-items: center;
  margin-right: 0;
}

.sent {
  background-color: #4e38a3;
  color: white;
  border-top-right-radius: 1000px;
  flex-direction: row-reverse;
  text-align: end;
  float: right;
  width: fit-content;
}

.received {
  background-color: #201e35dc;
  color: white;
  border: 1px solid #131220;
  border-top-left-radius: 1000px;
  float: left;
  width: fit-content;
}

.chat-section--mobile {
  width: 0;
  display: none;
}
