.friends--text {
  color: white;
  margin-left: 10px;
  border-top: 1px solid #2a1f38;
  border-bottom: 1px solid #2a1f38;
}

.friend--list {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.friend--email {
  cursor: pointer;
  font-size: large;
  margin: 10px 0 10px 0;
}
