.main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  z-index: 5;
}

.videoOverlay {
  /* width: 100vh; */
  height: 100vh;
  position: absolute; 
  top: 0;
  left: 0; 
  right: 0; 
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.626);
  z-index: 30;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.video--container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.currentUserVideo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.remoteUserVideo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
